@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2em;
}

.hover-button:hover {
    background-color: var(--button-background-hover);
}